body {
  font-family: 'Special Elite', cursive;
  background-image: url(https://i.ibb.co/rdHTppS/hats-bg-png.png);
  background-size: cover;
}

.card {
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 9px;
}

.MyNavbar {
  font-size: 22px;
}

.navTitle {
  font-size: 2rem;
  // font-family: 'Hanalei', cursive;
}

.card-title, .header-title {
  padding: 10px;
}

.intro-bar {
  background-color: black;
  color: white;
  width: 100%;
  padding: 5px;
  font-size: 22px;
  border-bottom: 1px solid black;
  border-radius: 4px;
}