.profilePhoto {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
  margin: 90px 0 0 152px;
  border: 2px solid black;
}

.profileForm {
  float: right;
}

.container {
  background-color:white;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
}

.aboutMe {
  border: 1px solid black;
  background-color: white;
}

.uploadTitle {
  font-size: 33px;
}

.aboutMe {
  font-size: 34px;
}

.aboutMeDescription {
  background-color: white;
  padding: 9px;
  border: 1px solid black;
  margin-top: 5px;
}
