.profilePhoto {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
  margin: 0 0 0 152px;
  border: 2px solid black;
}

.pic-name 
{
  margin-top: 4rem;
}

.profileForm {
  float: right;
}

.container {
  background-color:white;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
}

.aboutMe {
  background-color: white;
  font-size: 22px;
}

.uploadTitle {
  font-size: 33px;
  padding-top: 2rem;
}

.aboutSection {
  border: 1px solid black;
  background-color: white;
  margin-top: 11px;
  padding: 1rem;
}

.aboutMeDescription {
  background-color: white;
  padding: 9px;
  border: 1px solid black;
  margin-top: 5px;
}
